body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #e0e0e0; 
}

.container {
    text-align: center;
    width: auto;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

#weatherDisplay {
    margin-top: 20px;
}
